.footer {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    width: calc(100% - 88px);

    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 24px;
    background-color: #373737;
    color: #CBCBCB;
    
    padding: 44px;
    padding-top: 38px;
    padding-bottom: 53px;
}

.footer div {
    font-size: 15px;
    line-height: 25px;
}

h2 {
    font-size: 29px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 13px;
    color: #E0E0E0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 700;
}

.contact {
    display: flex;
    gap: 45px;
}