.participantDetails {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
    padding-bottom: 90px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 26px;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 82px;
}

.headerText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    min-width: 300px;
    
    background-color: #005AA1;
    color: rgb(255, 255, 255);
    font-size: 34px;
    text-align: center;
}

.participantDetailsContent {
    display: flex;
    flex-direction: column;
}

.participantDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerHeader {
    color: #005AA1;
    font-size: 24px;
    margin-bottom: 34px;
}
